vsphere_server     = "127.0.0.1:8989"
vsphere_user       = "user"
vsphere_password   = "pass"
datacenter         = "DC0"
datastore          = "LocalDS_0"
cluster            = "DC0_C0"
network_name       = "VM Network"
host               = "esxi0.io"
url_ova            = "https://******vyos-cloud-init-vmware.ova"
ansiblepassword    = "pass2"
ansiblehost        = "10.10.10.2"